body {
    font-family: sans-serif;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
   width:60%;
   margin:0 auto;
}
#commentBox{
    resize:none;
    width:300px;
    height:100px;
    padding:2px;
}